{# src/MDM/mdmBundle/Resources/views/Default/formularioUsuarios.html.twig #}


<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="{{ asset('bundles/mdmmdm/css/styles.css') }}"
        <style>
        </style>
        <title>MDM Gestión de Tareas</title>
        <meta charset="UTF-8"/>
        <link href="./img/favicon.ico" rel="icon" type="image/x-icon" />
        <script type="text/javascript" src="{{ asset('bundles/mdmmdm/js/jquery-2.1.0.min.js') }}"></script>

        <script>
            $(document).ready(function() {
                $("#last").click(function() {
                    if ($("#divForm").is(":hidden")) {
                        $("#divForm").css("display", "inline-block");
                        $("#divForm").slideDown("slow");
                    }
                    else {
                        $("#divForm").slideUp("slow");
                    }
                });
            });
        </script>
    </head>

    <body>
        <div id="wrapper">
            <header>
                <div id="subheader"> 
                    <div id="image"></div>
                    <h1 id="signature">MDM Gestión de Tareas</h1><!--</div>-->
                </div>
                <nav>
                    <a href="index.html">Home</a>
                    <a href="perfil.html">Perfil</a>
                    <a href="registro.html">Registro</a>
                    <a id="last">Login</a>
                </nav>
                
                <div id="divForm">
                    <form>
                        <ul>  
                            <li><label for="usermail">Email</label>  
                                <input type="email" name="usermail" value="" placeholder="yourname@email.com"/></li>  
                            <li><label for="password">Password</label>  
                                <input type="password" name="password" value="" placeholder="password"/></li>  
                            <li><input type="submit" value="Login"/></li>  
                        </ul>  
                    </form>
                </div>
            </header>
                
                <section id="registro">

                    <div id="form_registro">
                        <ul>
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                                {# make the form fragment customization #}
                                {% block form_login %}
                                    {# custom field row output #}
                            <li class="campos">
                                        {{ form_row(form.login) }}
                            </li>
                                {% endblock form_login %}
                                {% block form_password %}
                                    {# custom field row output #}
                            <li class="campos">
                                        {{ form_row(form.password) }}
                            </li>
                                {% endblock form_password %}
                                {% block form_name %}
                                    {# custom field row output #}
                            <li class="campos">
                                        {{ form_row(form.name) }}
                            </li>
                                {% endblock form_name %}
                                {% block form_surname %}
                                    {# custom field row output #}
                            <li class="campos">
                                        {{ form_row(form.surname) }}
                            </li>
                                {% endblock form_surname %}
                                {% block form_other %}
                                    {# custom field row output #}
                            <li class="campos">
                                        {{ form_row(form.other) }}
                            </li>
                                {% endblock form_other %}
                                {% block form_email %}
                                    {# custom field row output #}
                            <li class="campos">
                                        {{ form_row(form.email) }}
                            </li>
                                {% endblock form_email %}
                            {{ form_end(form) }}
                        </ul>
                    </div>   
                </section>

                <footer>

                    <div class="footerLinks"><a href="">Copyright 2014 by MDM</a></div>
                </footer>
        </div>   
    </body>
</html>
